@media only screen and (max-width: 600px) {
    .gameboard {
        width: 360px;
        height: 360px;
    }
    .field {
        width: 100%;
        height: 100%;
        min-width: 45px;
        min-height: 45px;
        font-size: 2em;
    }

    .history-btns {
        width: 280px;
    }
  }