@media only screen and (max-width: 420px) {
   .links {
    display: none;
   }
   .header-logo button {
    display: none;
   }
   .header-logo {
    width: 100%;
    height: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: none; */
    /* outline: solid 5px red; */
   }
   .user-icon {
    display: none;
   }
   .header-logo h1 {
    /* color: fuchsia; */
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.95em;
    
    /* justify-self: center; */
    /* text-align: center;
    font-size: 1.55em;
    position: absolute;
    top: 0%;
    left: 50%;
    right: 50%;
    color: red; 
    transform: translateX(-50%); */
    /* border: solid red 2px; */
    /* transform: translateX(+50%); */
   }
   .header-logo-img {
    scale: 115%;
    position: absolute;
    top: 7px;
    left: 3px;
   }
  }

@media only screen and (max-width: 420px) {
   .user-icon {
      /* display: block; */
      display: none;
      font-size: 2.25em;
   }

   .hamburger-menu {
      width: 60px;
      height: 60px;
      display:block;
      position: absolute;
      right: 5px;
      margin-top: 10px;
      /* border-radius: 100%; */
   }
   

   

   /* Icon 3 */

   #nav-icon3{
      width: 60px;
      height: 35px;
      position: relative;
      margin: auto;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;
      /* border: solid white 1px; */
    }
    
    #nav-icon3 span{
      display: block;
      position: absolute;
      height: 7px;
      width: 75%;
      background: #fff;
      border-radius: 9px;
      opacity: 1;
      left: 13px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
    }

#nav-icon3 span:nth-child(1) {
   top: 3px;
 }
 
 #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
   top: 18px;
 }
 
 #nav-icon3 span:nth-child(4) {
   top: 33px;
 }
 
 #nav-icon3.open span:nth-child(1) {
   top: 18px;
   width: 0%;
   left: 50%;
 }
 
 #nav-icon3.open span:nth-child(2) {
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   transform: rotate(45deg);
 }
 
 #nav-icon3.open span:nth-child(3) {
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   transform: rotate(-45deg);
 }
 
 #nav-icon3.open span:nth-child(4) {
   top: 18px;
   width: 0%;
   left: 50%;
 }

 /* --darker */
 /* .darker {
   position: fixed;
   width: 100%;
   height: 90vh;
   top: 10vh;
   background: rgba(0,0,0,.5);
   z-index: 100000;
 } */
}