.wtf-mobile {
    width: 32%;
    height: 100%;
    background: rgba(0,0,0,.95);
    position: fixed;
    list-style: none;
    margin-top: 10vh;
    right: 0;
    z-index: 10000;
    padding: 10px;
    font-size: 1.5em;
    transform: translateX(+100%);
    transition: .5s;
}

.active {
    transform: translateX(0%);
}


