*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.games {
    width: 100%;
    display: flex;
    justify-content: center;
}

.games-box {
    width: 70%;
    height: 93vh;
    min-height: 500px;
    position: fixed;
    margin-top: 7vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    padding: 10vh;
}

.games-box-card {
    width: 90%;
    height: 90%;
    border: solid 2px blue;
    background: linear-gradient(to right, #396afc, #2948ff);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.55em;
    text-decoration: none;
}

.games-box-card:hover {
    border: solid 2px darkblue;
    background: linear-gradient(to right, #E100FF, #7F00FF);
}