.about-body {
    margin-top: 7vh;
    position: absolute;
    z-index: 100;
    height: auto;
}

.my-carousel {
    width: 100%;
    height: 70vh;
    margin-top: 30vh;
    position: absolute;
    color: white;
}


@media (max-width: 420px) {

    .about-body {
        height: auto;
        margin-top: 11vh;
    }
    
    .car-item {
        height: 10vh;
        border: solid red 5px;
        background: linear-gradient(to right, #396afc, #2948ff);
    }
}

