*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  


/* 1)start game div--------- */

.just-center {
    width: 100%;
    height: 93vh;
    position: absolute;
    top: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
}

.startgame-div {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    background: whitesmoke;
}

.startgame-div h1 {
    color: #61dbfb;
}

.newgame-btn {
    max-width: 120px;
    height: 30px;
    padding: 15px;
    color: #61dbfb;
    border: solid 3px #61dbfb;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background: whitesmoke;
    text-decoration: none;
}

.newgame-btn:hover {
    background: white;
    color: #61dbfb;
}

img {
    width: 15%;
}


/* 2)end game --------- */

.endgame-div {
    width: 100%;
    height: 42vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #61dbfb;
}

.endscore-div {
    width: 100%;
    height: 8vh;
    margin-top: 10px;
    color: #61dbfb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.endscore-div-procent {
    width: 100%;
    height: 8vh;
    color: #61dbfb;
    display: flex;
    justify-content: center;
    border-bottom: solid #61dbfb 1px;
}



/* 3)mobile-nav --------- */

/* .mobile-nav {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    background: red;
    border: solid black 2px;
} */

@media (max-width: 420px) {
    .startgame-div h1 {
        font-size: 1.65em;
    }
    img {
        width: 42%;
    }

    .primary-header {
        background-color: red;
        display: none;
    }

    .secondary-header {
        background: red;
        display: none;
    }

    .header {
        height: 10vh;
      }
      .header-logo {
        position: absolute;
        left: 0;
        cursor: pointer;
      }
    
}





