*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

/* header */

.header {
    width: 100%;
    height: 7vh;
    position: fixed;
    background: linear-gradient(to right, #396afc, #2948ff);
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 10px -3px rgb(66, 66, 66);
    border-bottom: solid white 1px;
    border-top: solid white 1px;
    z-index: 100;
}

.header-logo {
    min-width: 350px;
    display: flex;
    align-items: center;
    justify-content:center;
    border-inline: solid white 1px;
    text-decoration: none;
}

.header-logo h1 {
    color: white;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.05em;
    letter-spacing: 1px;
    
}

.user-icon {
    color: white;
    font-size: 2.55em;
    margin-left: 10px;
    cursor: pointer;
}

.header-logo button {
    margin: 5px;
    min-width: 90px;
    height: 25px;
    padding: 5px;
    color: white;
    border: solid 1px white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #396afc, #2948ff);
    cursor: pointer;
    transition: .75s;

}

.header-logo button:hover {
    background: linear-gradient(to right, #2b51c2, #2948ff);
    color: rgb(216, 216, 216);
}


.header-logo-img {
    width: 50px;
    height: 50px;
    z-index: 0;
    margin-left: 5px;
    color: white;
    cursor: pointer;
}

.links{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    color: white;
    list-style: none;
    font-size: 1.2em;
}

.navlink {
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.navlink.active {
    background: white;
}

.navlink.active p {
    color: black;
}

.navlink p {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

.navlink p:hover {
    color: black;
    cursor: pointer;
    background: whitesmoke;
}

.header-links-p-border {
    border-inline: solid white 1px;
}


/* 1)start game div--------- */

.just-center {
    width: 100%;
    height: 93vh;
    position: absolute;
    top: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
}

.startgame-div {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    background: whitesmoke;
}

.startgame-div h1 {
    color: #61dbfb;
}

.newgame-btn {
    max-width: 120px;
    height: 30px;
    padding: 15px;
    color: #61dbfb;
    border: solid 3px #61dbfb;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background: whitesmoke;
    text-decoration: none;
}

.newgame-btn:hover {
    background: white;
}

img {
    width: 15%;
}


/* 2)quiz game --------- */

.quizgame-div {
   width: 60%;
   min-width: 900px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.quizbox-question {
    width: 97.5%;
    height: 16vh;
    min-height: 100px;
    /* background: rgb(146, 144, 144); */
    background: linear-gradient(to right, #E100FF, #7F00FF); 
    border: solid rgb(245, 243, 243) 2px;
    color: white;
    border-radius: 10px;
    margin-bottom: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;  
}

.quizbox {
    width: 100%;
    height: 93vh;
    min-height: 500px;
    position: fixed;
    margin-top: 7vh;
    color: white;
    border: solid whitesmoke 3px;
    background: linear-gradient(to right, #c9d6ff, #e2e2e2); 
    display: flex;
    justify-content: center;
}

.quizbox-grid {
    width: 100%;
    height: 50%;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

.quizbox-grid li{
    width: 95%;
    height: 90%;
    padding: 0vh;
    background: whitesmoke;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid white 2px;
}

.quizbox-grid li:hover {
    background: linear-gradient(to right, #c9d6ff, #e2e2e2);
}

/* 3)end game --------- */

.endgame-div {
    width: 100%;
    height: 42vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #61dbfb;
}

.endscore-div {
    width: 100%;
    height: 8vh;
    margin-top: 10px;
    color: #61dbfb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.endscore-div-procent {
    width: 100%;
    height: 8vh;
    color: #61dbfb;
    display: flex;
    justify-content: center;
    border-bottom: solid #61dbfb 1px;
}